[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
autopep8 = "*"
bandit = "*"
safety = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.8"
